.content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.title {
  color: var(--mantine-color-white);
  margin-bottom: rem(5px);
}

.bodyText {
  color: var(--mantine-color-dark-2);
  margin-left: rem(7px);
}

.author {
  color: var(--mantine-color-dark-2);
}
